APP_NAME="Local Tourist Planner"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=local_tour_planner
DB_USERNAME=root
DB_PASSWORD=
HOME_LATITUDE=
HOME_LONGITUDE=
HOME_ADDRESS=
MAX_RADIUS_KM=25
